//- Comment s'y rendre
mj-section(background-color='#dfdfdf')
    mj-column(width='530px')
        mj-text(font-size='18px' font-weight='700' color='#ec619f' mj-class='d-lieu' text-transform='uppercase') Comment s'y rendre ?
        mj-text(padding-top='0' padding-bottom='0' mj-class='d-lieu') #[b(style='color:#ec619f') Accès Métro :] Ligne 2 - station Tourcoing Centre.
        mj-text(padding-top='0' padding-bottom='0' mj-class='d-lieu') #[b(style='color:#ec619f') Accès Tramway :] Terminus Tourcoing Centre.
        mj-text(padding-top='0' padding-bottom='0' mj-class='d-lieu') #[b(style='color:#ec619f') Accès Bus :] Gare routière de Tourcoing.
        mj-text(padding-top='0' padding-bottom='0' mj-class='d-lieu') #[b(style='color:#ec619f') Accès Train :] Gare de Tourcoing puis station de Métro Tourcoing Centre
        mj-text(padding-top='0' padding-bottom='0' mj-class='d-lieu') #[b(style='color:#ec619f') Accès Voiture :] Tourcoing centre.
        mj-spacer(height='10px')/